*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 0.4fr 1.5fr 1.3fr 0.8fr;
    color: white;
    text-align: center;
    grid-template-areas: "navbar navbar navbar navbar"
                         " sidebar main main main"
                         "sidebar box1 box2 box3"
                         "sidebar footer footer footer";
                         grid-gap: .2rem;
                         font-size: 1rem;
}
nav{
    background-color: blueviolet;
    grid-area: navbar;
}
main{
    background-color: aqua;
    grid-area: main;
}
.sidebar{
    background-color:yellowgreen;
    grid-area: sidebar;
}
.box1{
    background-color: peru;
    grid-area: box1;
}
.box2{
    background-color:#2980b9;
    grid-area: box2;
}
.box3{
    background-color: #2c3e50;
    grid-area: box3;
}
footer{
    background-color: blueviolet;
    grid-area: footer;
}

@media only screen and(max-width:640px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr 0.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-area: "navbar"
        "main"
        "sidebar"
        "box1"
        "box2"
        "box3"
        "footer";
    }
}